body {
    min-width: 100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}
h1{
    color: tomato;
}

/*//////////////*/
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #f3f3f3;
        overflow: hidden;
    }
    
    li {
        display: inline;
    }
    
    li a {
        display: inline-block;
        color: #333;
        text-decoration: none;
        padding: 14px 20px;
    }
    
    li a:hover {
        background-color: #ddd;
    }
    
    .active {
        background-color: #4CAF50;
        color: white;
    }



/*////////////////////////////////*/
/* Style the first letter of all <p> elements */
p::first-letter {
    color: lightgray;       /* Set the color to light gray */
    font-size: 3em;         /* Make it larger for drop cap effect */
    font-weight: bold;      /* Make it bold */
    float: left;            /* Float to the left for drop cap layout */
    line-height: 1;         /* Adjust line height for alignment */
    margin-right: 8px;      /* Space between drop cap and text */
}    

/* footer */
.copyRightDiv{
    color: lightgray;
}